// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body
{
width: 100%;
padding: 1% 1% 1% 1% ;
}


table
{
	width: 50%;
	column-width: 30px;
} 

#field
{
	width: 100px;
}